@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    background: url('imagens/espaco.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.astronauta {
    width: 300px;
    position: absolute;
}